* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Redressed";
  background: #e6ccb2;
  overflow-x: hidden;
}
.attention {
  font-family: "Poppins";
  position: fixed;
  z-index: 2;
  background: white;
  width: 100%;
  height: 100vh;
  transition: all 0.5s 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.attention p {
  font-size: 13px;
  padding: 13px;
  text-align: center;
}
.attention button {
  font-size: 15px;
  padding: 10px 10px;
  margin-top: 10px;
  border: none;
  background: #14213d;
  border-radius: 2px;
  color: white;
  transition: 0.3s all;
}
.attention button:hover {
  color: #14213d;
  background: white;
  border: 2px solid #14213d;
}
.attention img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.close {
  transform: translateY(-100%);
}
main section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main section::after{
    content: "";
    height: 90vh;
    width: 2px;
    background: #9c6644;
    position: absolute;
    left: 10px;
}
main section::before{
    content: "";
    height: 2px;
    width: 90%;
    background: #9c6644;
    position: absolute;
    bottom: 10px;
}
.part-2 h1 {
  font-size: 22px;
}
